# Build artifacts
*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
*.ini

# Build directories
build/
cmake-build-*/

# Compilation database
compile_commands.json

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace/
*.xcodeproj/

# IDEs
.vscode/
.idea/

# Debugging
*.dSYM/

gui/imgui/examples/
gui/imgui/docs/
gui/imgui/** linguist-vendored

cxxPEA
